.header {
  background-color: rgba(101, 123, 159, 0.8);
  width: 100%;
  height: 110px;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 999; }
  .header.shrink {
    height: 80px;
    background-color: #657b9f; }
  .header .container {
    /* Start declaring Variables */ }
    .header .container .sidebar {
      position: absolute;
      top: 80px;
      right: -200px;
      z-index: 1;
      width: 200px;
      height: 600px;
      background: transparent;
      margin-top: 50px;
      transition: all 0.7s ease-in-out; }
      .header .container .sidebar.shrink {
        top: 62px; }
      .header .container .sidebar .sidebar-list {
        background: transparent;
        width: 100%;
        padding-right: 0;
        color: #fff;
        margin: 0;
        text-align: center; }
        .header .container .sidebar .sidebar-list .item {
          list-style-type: none;
          width: 200px;
          height: 40px;
          margin-bottom: 5px;
          background-color: #f8941e;
          border-radius: 10px;
          transition: all 0.15s ease-in-out; }
          .header .container .sidebar .sidebar-list .item:hover {
            background-color: #557198;
            color: #000; }
          .header .container .sidebar .sidebar-list .item a {
            font-size: 20px;
            color: inherit;
            padding: 3px;
            display: block;
            font-family: "JannaLT-Bold", tahoma; }
            .header .container .sidebar .sidebar-list .item a:hover, .header .container .sidebar .sidebar-list .item a:focus {
              text-decoration: none; }
    .header .container .menu-btn {
      margin-top: 45px;
      background: none;
      border: none; }
      .header .container .menu-btn.shrink {
        margin-top: 25px; }
      .header .container .menu-btn .btn-line {
        width: 45px;
        height: 5px;
        display: block;
        margin-bottom: 6px;
        background-color: #fff;
        border-radius: 2px; }
        .header .container .menu-btn .btn-line.shrink {
          height: 5px;
          width: 40px; }
      .header .container .menu-btn:last-child {
        margin-bottom: 0; }
    .header .container .logo {
      padding-top: 10px;
      width: 250px; }
      .header .container .logo img {
        max-width: 100%; }
      .header .container .logo.shrink {
        width: 155px;
        padding-top: 5px; }
    .header .container nav .nav-list {
      padding-right: 0;
      padding-top: 70px; }
      .header .container nav .nav-list.shrink {
        padding-top: 30px; }
      .header .container nav .nav-list .list-item {
        list-style-type: none;
        display: inline-block;
        border-left: 2px solid #fff;
        padding-left: 6px;
        padding-right: 3px; }
        .header .container nav .nav-list .list-item a {
          color: #fff;
          font-size: 17px;
          font-family: "JannaLT-Bold", tahoma;
          transition: 0.4s; }
          .header .container nav .nav-list .list-item a:hover, .header .container nav .nav-list .list-item a:focus {
            text-decoration: none;
            color: #f8941e;
            text-decoration: underline; }
        .header .container nav .nav-list .list-item:last-child {
          padding-right: 18px;
          font-weight: bold; }
      .header .container nav .nav-list:active {
        display: block; }

.shrink-transition, .header, .header .container .menu-btn, .header .container .logo, .header .container nav .nav-list {
  -webkit-transition: all 0.4s ease-in-out;
  -moz-transition: all 0.4s ease-in-out;
  -o-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out; }

.noBorder, .header .container nav .nav-list .list-item:nth-child(7), .header .container nav .nav-list .list-item:nth-child(8) {
  border-left: none; }

/*# sourceMappingURL=header.css.map */
